@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;



/* =========================================================
   MENU MAS (OFFCANVAS)
========================================================= */

.menu-mas-links {
  @include flex-dir-column(16px)
}

.menu-mas-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: $color-menu-mas;
}

.menu-mas-link .material-symbols-outlined {
  font-size: 22px;
}