// Paleta de colores

$color-principal: #6cace4;
$color-secundario: #f7c325;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-body: #ebebeb;
$color-footer: #ced8e0;
$color-delete: #dc3545;
$color-ico-carrito: #494949;
$color-verde: #1aae9f;
$color-h3-footer: #3a4a57;
$color-nombre: #4b5c68;
$color-border: #dfe6ed; 
$color-cupon: #2c88d9;
$color-btn-carrito: #e8833a;
$color-descripcion: #788896;
$color-ayuda: #f8f9fa;
$color-ayuda-seccion: #444;
$color-menu-mas: #1f2a33;

