@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;


/* =========================================================
   FAVORITOS
========================================================= */

.contenedor-favoritos {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img-favoritos {
  width: 100%;
  min-width: 100px;
  height: auto;
}

.img-carrito {
  width: 100%;
  min-width: 100px;
  height: auto;
}
